########################
# Wordpress Core files #
########################
wp-config.php
wp-content/uploads/
######################
.DS_Store
.DS_Store?
.localized
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
