//--- Footer Area Css Using Sass ---//
#containerfooter {
	background: $color-green;
}
#containerfooter {
	.container {
		.textwidget {
			color: $color-white;
			font-style: $font-style;
		}
		p {
			color: $color-white;
			font-size: $font-menu;
			font-style: $font-style;
		}
		h3 {
			color: $color-white;
			font-style: $font-style;
		}
		a {
			color: $color-white;
			font-style: $font-style;
			text-decoration: underline;
			&:hover {
				color: $hover-color;
			}
		}
	}
}
